.body {
    background-color: #1e262f;
}

.Titleh2 {
    font-size: 45px;
    color: #b1ff00;
    padding: 5px;
    text-align: center;
}

.score {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 1em;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #1e262f;
    padding: 1em;
    color: #b1ff00;
    border: 2px solid #b1ff00;
}


.scoreh2 {
    font-size: 30px;
}

.statsTitle {
    grid-column: 1 / 5;
}

.score2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 1em;
    justify-content: center;
    align-content: center;
    text-align: center; 
    background-color: #1e262f;
    color: white;
    border: 2px solid #b1ff00;
}

.scoreboardBox1 {
    
    grid-row: 1;
    grid-column:;
    margin-top: 10px;
}

.scoreboardBox2 {
    margin-top: 10px;
    
}

.scoreboardBox3 {
        margin-top: -10px;

    grid-column: 1;
    
}

.scoreboardBox4 {
    margin-top: -10px;
    grid-column: 2;
    
}

.scoreboardBox5 {
    grid-column: 1;
    margin-top: -30px;
}

.scoreboardBox6 {
    grid-column: 2;
    margin-top: -30px;

}

.scoreboardBox7 {
    grid-column: 1;
        margin-top: -50px;

}

.scoreboardBox8 {
    grid-column: 2;
    margin-top: -50px;

}

.scoreboardBox9 {
    grid-column: 1;
    
    margin-top: -70px;
}

.scoreboardBox10 {
    grid-column: 2;
    margin-top: -70px;

}

.scoreboardBox11 {
    grid-column: 1;
    margin-top: -40px;
}

.scoreboardBox12 {
    grid-column: 2;
    margin-top: -40px;

}

.game {
    
    background-color: #1e262f;
    padding: 2em;
    margin: 1em;
}

h1 {
  text-align: center;
}

td {
  width: 100px;
  height: 100px;
}

table {
  margin: 5px auto;
}

.vert {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.hori {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.square {
    color: white;
    text-align: center;
    font-size: 60px;
}